.navbar {
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-bg);
  box-shadow: 0 2px 4px rgb(0 0 0 / 5%);
  position: sticky;
  top: 0;
  z-index: 100;
}



.title {
  font-size: 1.25rem;
  color: var(--color-text);
  margin: 0;
}
